@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
	<link rel="stylesheet" href="Login.css">
</head>
<body class = "body-design">
	<h1 class = "title">Skill Sheet Manager</h1>
		<a asp-controller = "Home" asp-action = "UserHomePage">abc</a>
	<div>
		<form>
			<h1>Login</h1><br>		
			<label class = "label" for="uname"><b>GROUP NAME:</b></label>
			<select name="user" class="list" required>
				<option></option>
				<option>Admin</option>
				<option>User</option>
			</select><br><br>
			<label class = "label" for="uname"><b>USER NAME :</b></label>
			<select name="user" class="list" required>
				<option></option>
				<option>Dipak</option>
				<option>Prit</option>
				<option>Yash</option>
				<option>Shalok</option>
			</select><br><br>

			<label class = "label" for="password"><b>PASSWORD :</b></label>
			<input type="text" id="password" name="password" class="list" placeholder="Enter the password" required><br>		
			<input type="submit" value="Login" class="login-btn">
			<input type="submit" value="Reset" class="reset-btn">
		</form>
	</div>
</body>
</html>
